  <% if has_contact_information? %>
    <div class="row">
      <% if phone.present? %>
        <div class="col-sm-12 mb-2">
          <%= icon('phone') { PhoneNumber.new(phone).to_s } %>
        </div>
        <div class="col-sm-12 mb-2">
          <%= icon('whatsapp') { whatsapp_url  } %>
        </div>
      <% end %>
      <div class="col-sm-12 mb-2">
        <% if email.present? %>
          <%= icon('at') { email } %>
        <% end %>
      </div>
    </div>
  <% end %>
