<button class="btn btn-link float-right" data-clipboard-selector="<%= selector %>">
  <%= icon('check', hidden: true, 'data-clipboard-copy-confirmation' => 'true', class: :green) %>
  <%= icon('files', 'data-clipboard-icon' => 'true') %>
</button>

