<div class="inline-check-boxes special-legends soft-labels">
  <%= simple_form_for(@form) do |f| %>
    <%= f.error_notification %>
    <%= f.input :title %>
    <%= f.submit class: 'btn btn-primary mt-3 float-right' %>
  <% end %>
</div>

