<div class="card">
  <div class="card-header">
    <%= t('app.titles.meeting_attendance') %>
  </div>

  <ul class="list-group list-group-flush">
    <% @meetings.each_with_index do |meeting, index| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <%= meeting.title %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%= time_ago_in_words(meeting.created_at) %> atrás
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
