<div class="item position-relative">
  <%= render DropdownMenuComponent.new(type: :item_options) do |component| %>
    <% actions.each do |action| %>
      <% component.item do %>
        <%= action %>
      <% end %>
    <% end %>
  <% end %>

  <div class="row">
    <%= render attribute(:name).wrap_with(:div, class: 'col-sm-12 col-lg-6') %>
    <%= render attribute(:group).wrap_with(:div, class: 'col-sm-12 col-lg-6') %>
  </div>
</div>
