<%= render breadcrumb %>

<div class="index-list">
  <% campaigns.each do |campaign| %>
    <%= render FieldService::Campaigns::ListItemComponent.new(campaign: campaign) %>
  <% end %>
</div>

<%= render pagination %>
