#sidebar-component {
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  .wrapper {
    display: flex;
    align-items: stretch;
  }

  #sidebar,
  #sidebar-button-container {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #4a6da7;
    color: #fff;
    transition: all 0.3s;
  }

  #sidebar-button-container {
    z-index: 998;
    width: 56px;
    padding: 0;
    height: 40px;
    margin: 0;
  }

  [data-toggle-sidebar] {
    width: 100%;
    color: white;
    background: #395c96;
    font-size: 30px;
  }

  [data-toggle-sidebar]:hover {
    color: #ddd;
  }

  #sidebar a {
    color: white;
    text-decoration: none;
  }

  #sidebar.hidden {
    margin-left: -250px;
  }

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  #content {
    padding: 0 20px;
    margin-left: 250px;
  }

  #content.sidebar-hidden {
    margin-left: 0px;
  }

  @media (max-width: 768px) {
    #content {
      margin-left: 0px;
    }
    #sidebar {
      margin-left: -250px;
    }
    #sidebar.hidden {
      margin-left: 0;
    }
  }
}
