<div class="wrapper" id="sidebar-component">
  <nav id="sidebar">
    <div class="position-relative text-center">
      <button data-toggle-sidebar class="btn"><i class="bi bi-arrow-left-circle-fill"></i></button>
    </div>

    <div class="px-3">
      <div class="sidebar-user mt-3">
        <%= image_tag("#{current_user.avatar}?sz=25", class: 'avatar-25') %> <%= current_user.name %>
      </div>

      <div class="sidebar-header mb-2 mt-4">
        <b>KH Tools</b>
      </div>

      <ul class="list-unstyled mt-3">
        <% menu_entries.each do |entry| %>
          <li class="my-2"><%= link_to(entry.text, entry.url) %> </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div id="sidebar-button-container">
    <button data-toggle-sidebar class="btn"><i class="bi bi-arrow-right-circle-fill"></i></button>
  </div>

  <div id="content" class="mt-5 pt-2 container-fluid">
    <%= main_container %>
  </div>
</div>
