<% if current_user && !current_user.enabled? %>
  <div class="alert alert-warning" role="alert">
    <%= t('app.messages.contact_admin') %>
  </div>
<% end %>

<% if current_user %>
  <%= render partial: 'index_logged_in' %>
<% end %>
