#territories-common-index-component {
  .territory {
    border: 1px solid #ddd !important;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
  }

  .territory-name {
    font-weight: bold;
  }

  .territory [data-component="dropdown-menu"] {
    position: absolute;
    right: 28px;
    margin-top: -36px;
  }

  i { color: #ccc; }

  [data-component="dropdown-menu"] i { color: black; }
}
