<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(
  classes: ['btn-primary'],
  pull: :right
) do |component| %>
  <% territory_actions.each do |action| %>
    <% component.item do %>
      <%= action %>
    <% end %>
  <% end %>
<% end %>

<% attributes.each do |attribute_name| %>
  <div><%= render attribute(attribute_name).with_label.without_icon %></div>
<% end %>
