<% if show_details? %>
  <details>
    <summary>
<% end %>
<%= render(attribute) { value } %>
<% if show_details? %>
    </summary>
    <%= render CopyToClipboardComponent.new do %>
      <% record.phone_numbers.each do |phone| %>
        <div><%= phone %></div>
      <% end %>
    <% end %>
  </details>
<% end %>
