<%= render breadcrumb %>

<h2 class="mt-3"><%= t("app.titles.assignments") %></h2>

<div class="index-list">
  <% assignments.each do |assignment| %>
    <%= render Territories::AssignmentComponent.new(assignment: assignment, parent: campaign) %>
  <% end %>
</div>

<%= render pagination %>

