<%= render contact_info %>

<%= render CopyToClipboardComponent.new(selector: '#contact-message-text') %>

<div id="contact-message-container">
  <div id="contact-message-text">
    <%= formatted_message %>
  </div>
</div>
