.title {
  font-weight: bold;
}

.index-list {
  .item {
    border: 1px solid #ddd !important;
    margin: 20px 0;
    padding: 20px;
    position: relative;
  }

  .item [data-component="dropdown-menu"] {
    position: absolute;
    right: 0;
    margin-top: -43px;
  }

  [data-component="dropdown-menu"] i { color: black; }
}

.index-list, .show-page {
  i { color: #ccc; }
  i.green { color: green; }
}
