.AttributeComponent {
  margin-bottom: 1.4rem;
  display: inline-block;

  &__label {
    text-transform: uppercase;
    color: gray;
    display: block;
    font-size: 0.7rem;
  }

  &__text {
    color: $dark;
  }

  &__text--link {
    color: $jw-blue;
  }
}
