$jw-red: #bb1827;
$jw-orange: #e36600;
$jw-red-background: #fce7e9;
$jw-yellow-background-color: #fff7da;
$jw-error-border-color: #eb5f6c;
$jw-blue: #386195;
$soft-gray: #858585;
$light-gray: #eee;

$primary: $jw-blue;
$danger: $jw-red;
$dark: #292929;
