.Territories_ParsedApartmentsComponent {
  &__item {
    background: $jw-orange;
    padding: 5px;
    min-width: 52px;
    text-align: center;
    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
    color: white;
  }
}
